################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FindFile
/obj
/bin
/.vs/ProjectEvaluation
